body{
  background: #0398fc no-repeat center center fixed;
  background-size: cover;
}
.hero{
  color: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 60px;
  letter-spacing: -.05em;

}

.hero2{
  color: #000;
  margin-top: 2%;
  text-align: center;
  font-size: 30px;
  letter-spacing: -.05em;
}

.nummer1{
  color: #FFF;
  margin-top: 8%;
  text-align: center;
  font-size: 30px;
}

.nummer1_img{
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 25px;
  margin-left: auto;
	margin-right: auto;
	display: block;
    width: 100%
}

.thumbnail{
  height: 100px;
  width: 200px;
}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: FFF;
  color: #555;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6
{ letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'century gothic', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #009FBC;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ font: normal 120% 'century gothic';
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #009FBC;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0;
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right;
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto;
  margin-right: auto;

}

#header_index
{ background: #1d1d1d url(Lissabon/Header_Lissabon.png) no-repeat center fixed;
  background-size: cover;
  border-bottom: 0.05px solid #000;
  transition: border .5s ease-in-out,color .5s ease-in-out;
  height: 1000px;
  width: 100%;


}

#header_taag
{ background: #1d1d1d url(Lissabon/tagus_luchtfoto_groot_4.jpg) no-repeat center fixed;
  background-size: cover;
  border-bottom: 0.05px solid #000;
  transition: border .5s ease-in-out,color .5s ease-in-out;
  height: 1000px;
  width: 100%;


}

#header_venetie
{ background: #FFF url(Venetie/luchtfoto_venetie_kleur_2.jpg) no-repeat center fixed;
  background-size: cover;
  border-bottom: 0.05px solid #000;
  transition: border .5s ease-in-out,color .5s ease-in-out;
  height: 1000px;
  background-color: rgba(4, 4, 4, 0.5);
  width: 100%;
  background-position: top;

}

#header_about_us
{ background: #1d1d1d url(Lissabon/Header_Lissabon.png) no-repeat center fixed;
  background-size: cover;
  border-bottom: 0.05px solid #000;
  transition: border .5s ease-in-out,color .5s ease-in-out;
  height: 300px;
  width: 100%;}

#header_contact
{ background: #1d1d1d url(Lissabon/Header_Lissabon.png) no-repeat center fixed;
  background-size: cover;
  border-bottom: 0.05px solid #000;
  transition: border .5s ease-in-out,color .5s ease-in-out;
  height: 300px;
  width: 100%;}

#center-field
{ background: center fixed;
  background-size: cover;
  border-bottom: 0.05px solid #000;
  transition: border .5s ease-in-out,color .5s ease-in-out;
  height: 1000px;
  background-color: rgba(4, 4, 4, 0.5);
  width: 100%;
  background-position: top;


}

  /*
#banner
{ background: transparent url(Kaartje_index.html) no-repeat;
  width: 870px;
  height: 600px;
  margin-bottom: 20px color: #FFF;
  border: 2px solid #FFF;}
*/


#map {
  height: 600px;
  background-color: white;
  width:150%;

}




#logo
{ width: 1200px;
  position: relative;
  height: 120px;
  background: transparent;}

#logo #logo_text
{ position: left;
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 400% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #f69739;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 140%;
  padding: 4px 0 0 0;
  color: #FFF;}


#menubar
{ color: black;
  width: 70%;
  height: 46px;
  font-size: 120%;

}

ul#menu
{ color: black;
  float
  margin: 0;}

ul#menu li
{ text-align: center;
  float: left;
  padding: 0 0 0 90px;
  list-style: none;
  font-size: 140%;
  margin: 1px 2px 10px 1px;
  background: transparent;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block;
  float: middle;
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: cen;
  color: #fff;
  text-decoration: none;
  background: transparent;}

ul#menu li.selected a
{ height: 1px;
  padding: 1px 35px 4px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background: #388E8E;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #f69739;
  color: #FFF;}

ul#menu li a:hover
{ color: #FFF;
  background: transparent;}

/* Line Below Menu Items BEGIN---- */

.topnav-link {
    color: #F5F5F5;
    font-size: 0.8889em;
    text-decoration: none;
    font-weight: normal;
    text-transform: none;
    border-bottom: 4px solid transparent;
    padding-bottom: 0.125em;
    transition: border-bottom-color 50ms linear 0s;
}
.topnav-link:hover, .topnav-link.active {
    border-bottom-color: #FFF;
}

/* Line Below Menu Items EINDE---- */


#arrow{

}


#Intro_1 {
    width: 600px;
    overflow: hidden;
    text-align: center;
    margin: 400px auto auto;
    font-size: 120%;
    color: white;
    background-color: rgba(4, 4, 4, 0.5);
    vertical-align: middle;
    margin-left: 60%;
    padding-top: 9px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;


    }


#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;}

#sidebar_container
{ float: right;
  width: 224px;}

.sidebar_top
{ width: 222px;
  height: 14px;
  background: transparent url(side_top.png) no-repeat;}

.sidebar_base
{ width: 222px;
  height: 14px;
  background: url(side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}

.sidebar_item
{ background: url(side_back.png) repeat-y;
  padding: 0 15px;
  width: 192px;}

.sidebar li a.selected
{ color: #444;}

.sidebar ul
{ margin: 0;}

#content
{ text-align: left;
  width: 620px;
  padding: 0 0 0 5px;
  float: left;}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 22px 0 10px 0;
  text-align: center;
  background: transparent url(pattern.png) repeat;
  border-top: 2px solid #388E8E;
  color: #FFF;
  bottom: auto;
  position: absolute;
}

#content_footer{
    bottom: 0;
    position: absolute;
}

#footer p
{ line-height: 1.7em;
  padding: 0 0 0px 0;
  font-size: 130%}

#footer a
{ color: #388E8E;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

#footer_urbandeltas{
  width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 100%;
  text-align: center;
  background: transparent url(pattern.png) repeat;
  color: #FFF;
  padding-bottom: 10px;

  }

.search
{ color: #5D5D5D;
  border: 1px solid #BBB;
  width: 134px;
  padding: 4px;
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left;
  width: 200px;
  text-align: left;}

.form_settings input, .form_settings textarea
{ padding: 5px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}

.form_settings .submit
{ font: 100% arial;
  border: 0;
  width: 99px;
  margin: 0 0 0 212px;
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #388E8E;
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial;
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0;
  padding: 0;
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}

table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #388E8E;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}

table tr td
{ background: #E5E5DB;
  color: #47433F;
  border-top: 1px solid #FFF;}

.fade_in
{ position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
    display: none;}

#Estuarium_intro
{background-color: #;}

#Hoofdtitel{
    font-size: 300%;
    padding-bottom: 80px;
    padding-top: 0px;

}

#mose_wrapper{
    margin-left: auto;
    margin-right: auto;
}

#mose_img{
    float: right;
    height: 75px;
    width: 235px;
}

#mose_txt{
    float: left;
}

#mose_wrapper_2{
    clear: both;
}




#index_alinea{
    font-size: 120%;
    text-align: justify;
}



 /* Fadein SCROLL TO TOP BEGIN */

/*
@import url(https://fonts.googleapis.com/css?family=Raleway:100);
body {
  font-family: 'Raleway', sans-serif;
}
#scrolltop {
    background-color: black !important;
    color:orange;
  text-align: center;
    border-radius: 2px;
    border: 0;
    outline: 0;
  left: 0;
  top: 0;
  width: 100%;
    bottom: 50px;
    height: 10px;
    position: fixed;
    z-index:9999;
  padding-top: 20px;
}
div {
  height: 1000px;
  text-align: center;
  p {
    font-size: 2em;
    position: fixed;
    width: 75%;
    left: 12.5%;
    top: 75px;
  }
}
#scrolltop:hover {
opacity: 1.0;
}


.scrolltop {
 display:none;
}
